<html>
    <head>
        {% load static %}
        <title>Team X</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/navigation_style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <!-- Datatable start -->
        <script>
        $(document).ready(function() {
            $('#example').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            } );
        } );
        </script>

        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>

        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
        <!-- Datatable end -->
    </head>

    <body>
        <header>
            <div class="row">
                <div class="col-sm-4 mt-3" style="text-align:center">
                    <img src="{% static 'images/TeamX-logo-big.png' %}">
                </div>

                <div class="col-sm-8 mt-4" style="text-align:right; padding-right:300px">
                    <span style="font-size: 30px;">
                        <span><i class="fa fa-twitter pl-3"></i></span>
                        <span><i class="fa fa-linkedin pl-3"></i></span>
                        <span><i class="fa fa-instagram pl-3"></i></span>
                        <span><i class="fa fa-facebook pl-3"></i></span>
                    </span>
                </div>
            </div>
        </header>

        <div class="navigation-bar" style="margin-top:15px">
            <nav class="navbar navbar-expand-sm" style="background-color:#333 ;height:50px">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin_home' %}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Recruiters</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'recruiter_pending' %}" style="color: black">Pending</a>
                    <a class="dropdown-item" href="{% url 'recruiter_accepted' %}" style="color: black">Accepted</a>
                    <a class="dropdown-item" href="{% url 'recruiter_rejected' %}" style="color: black">Rejected</a>
                    <a class="dropdown-item" href="{% url 'recruiter_all' %}" style="color: black">All</a>
                </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_developers' %}">Developers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Change Password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Logout' %}">Log Out</a>
                </li>
            </ul>
            </nav>
        </div>
    </body>
</html>