{% load static %}

{% block body %}

{% include 'developer_navigation.html' %}

<script>
    function checkpass()
    {
        if(document.changepwd.npwd.value != document.changepwd.cnpwd.value)
        {
            alert('New Password and Confirm New Password fields do not match');
            document.changepwd.cnpwd.focus();
            return false;
        }
        else
        {
            return true;
        }
    }
</script>



<h1  style="text-align:center; margin-top:60px; margin-bottom:25px">CHANGE PASSWORD</h1>

<form class="container mt-5" onsubmit="return checkpass();" name="changepwd" method="post">
    {% csrf_token %}
    <label style="margin-left:375px"><b>Current Password</b></label>
    <input type="password" class="form-control" name="cpwd" style="width:350px; margin-left:375px" required>
    <br>
    <label style="margin-left:375px"><b>New Password</b></label>
    <input type="password" class="form-control" name="npwd" style="width:350px; margin-left:375px" required>
    <br>
    <label style="margin-left:375px"><b>Confirm New Password</b></label>
    <input type="password" class="form-control" name="cnpwd" style="width:350px; margin-left:375px" required>
    <br>
    <input type="submit" value="Submit" class="btn btn-primary" style="margin-left:515px; background-color:#4CAF50; border:none">
</form>


{% ifequal error "no" %}
<script>
    alert("Password changed succesfully.");
    window.location = ('{% url 'Logout' %}');
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Something went wrong. Try again.");
</script>
{% endifequal %}

{% ifequal error "not" %}
<script>
    alert("Current password is wrong");
</script>
{% endifequal %}


{% include 'footer.html'%}

{% endblock %}