{% load static %}

{% block body %}

{% include 'admin_navigation.html' %}

<h1  style="text-align:center; margin-top:60px; margin-bottom:25px">PENDING RECRUITERS LIST</h1>

<div class="container">
    <table class="table table-hover" id="example">
        <thead>
        <tr>
            <th>S.No</th>
            <th>Full Name</th>
            <th>Email ID</th>
            <th>Contact Number</th>
            <th>Gender</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        {% for i in data %}
        <tr style="background-color: #DBE887">
            <td>{{forloop.counter}}</td>
            <td>{{i.user.first_name}} {{i.user.last_name}}</td>
            <td>{{i.user.username}}</td>
            <td>{{i.mobile}}</td>
            <td>{{i.gender}}</td>
            <td style="text-transform: capitalize">{{i.status}}</td>
            <td><a href="{% url 'change_status' i.user_id %}" class="btn btn-success btn-sm">Change Status</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% include 'footer.html'%}

{% endblock %}